.logo__title {
  font-family: PT, serif;
}

.menu {
  font-family: roboto, sans-serif;
}

.main__title {
  font-family: PT, serif;
}

.main__description,
.main__btn {
      font-family: roboto, sans-serif;
}
